<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section >

        <div class="container mt-3 ">
        <div class="table-wrapper  ">
            <div class="table-title">
                <div class="row ">
                    <div class="col-md-10"><h2>Category List</h2></div>
                    <div class="col-md-2">
                        <a th:href="@{/addCategory}"><button type="button" class="btn btn-primary add-new"><i class="fa fa-plus"></i> Add Category</button></a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <span th:each="category: ${categories}">
                <tr>
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>


                    <td class="text-center">
                        <a class="add"  th:href="@{/addCategory}" title="Add" data-toggle="tooltip"><i class="fa-sharp fa-solid fa-plus mr-3"></i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa-sharp fa-solid fa-pen mr-3"></i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                    </span>

                </tbody>
            </table>
        </div>
    </div>


</section>

</body>
</html>