<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="auth-base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div>
          <h1 class="text-center">Register Now!!!</h1>
          <div>
            <form method="post" th:action="@{/auth/register}" th:object="${user}">
              <div class="mb-3">
                <label for="nameField" class="form-label">Name</label>
                <input type="text" class="form-control" id="nameField" placeholder="Enter Name " th:field="*{name}">
              </div>
              <div class="mb-3">
                <label for="emailField" class="form-label">Email</label>
                <input type="email" class="form-control" id="emailField" placeholder="Enter Email " th:field="*{email}">
              </div>
              <div class="mb-3">
                <label for="passwordField" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordField" placeholder="Enter Password " th:field="*{password}">
              </div>
              <div class="mb-3">
                <label for="aboutField" class="form-label">About</label>
                <textarea class="form-control" id="aboutField" rows="3" th:field="*{about}" placeholder="Write About Yourself"></textarea>
              </div>
              <button class="btn btn-success" type="submit">Submit</button>
              <button class="btn btn-warning" type="reset">Reset</button>
            </form>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>


</body>
</html>