<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div>
          <h1 class="text-center">Update Author</h1>
          <div>
            <form method="post" th:href="@{/updateAuthor/{id}(id=${author.id})}" th:object="${author}">
              <div class="mb-3">
                <label for="nameField" class="form-label">Name</label>
                <input type="text" class="form-control" id="nameField" placeholder="Enter Author Name " th:field="*{name}">
              </div>
              <div class="mb-3">
                <label for="descriptionField" class="form-label">Description</label>
                <textarea class="form-control" id="descriptionField" rows="3" th:field="*{description}" placeholder="Enter Description Here"></textarea>
              </div>
              <button class="btn btn-success" type="submit">Submit</button>
              <button class="btn btn-warning" type="reset">Reset</button>
            </form>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>


</body>
</html>